#object file
*.o

#library
*.a

#share object
*.so
*.so.*

#generated proxy
*_u.c
*_u.h
*_t.c
*_t.h

#output files
/build/
/linux/installer/bin/*.bin

# jaebaek: generated after $ make
*.lo
external/rdrand/src/Makefile
external/rdrand/src/config.h
external/rdrand/src/config.log
external/rdrand/src/config.status
external/rdrand/src/test
psw/ae/common/proto/messages.pb.cc
psw/ae/common/proto/messages.pb.h
psw/ae/common/version.cpp
psw/ae/le/out.map
sdk/cpprt/linux/libunwind/INSTALL
sdk/cpprt/linux/libunwind/Makefile
sdk/cpprt/linux/libunwind/Makefile.in
sdk/cpprt/linux/libunwind/aclocal.m4
sdk/cpprt/linux/libunwind/autom4te.cache/
sdk/cpprt/linux/libunwind/config.log
sdk/cpprt/linux/libunwind/config.status
sdk/cpprt/linux/libunwind/config/
sdk/cpprt/linux/libunwind/configure
sdk/cpprt/linux/libunwind/include/config.h
sdk/cpprt/linux/libunwind/include/config.h.in
sdk/cpprt/linux/libunwind/include/libunwind-common.h
sdk/cpprt/linux/libunwind/include/libunwind.h
sdk/cpprt/linux/libunwind/include/pthread_compat.h
sdk/cpprt/linux/libunwind/include/stamp-h1
sdk/cpprt/linux/libunwind/include/tdep/libunwind_i.h
sdk/cpprt/linux/libunwind/libtool
sdk/cpprt/linux/libunwind/src/.deps/
sdk/cpprt/linux/libunwind/src/.libs/
sdk/cpprt/linux/libunwind/src/Makefile
sdk/cpprt/linux/libunwind/src/Makefile.in
sdk/cpprt/linux/libunwind/src/arm/.deps/
sdk/cpprt/linux/libunwind/src/dwarf/.deps/
sdk/cpprt/linux/libunwind/src/dwarf/.dirstamp
sdk/cpprt/linux/libunwind/src/hppa/.deps/
sdk/cpprt/linux/libunwind/src/ia64/.deps/
sdk/cpprt/linux/libunwind/src/libunwind-dwarf-common.la
sdk/cpprt/linux/libunwind/src/libunwind-dwarf-generic.la
sdk/cpprt/linux/libunwind/src/libunwind-dwarf-local.la
sdk/cpprt/linux/libunwind/src/libunwind-elf64.la
sdk/cpprt/linux/libunwind/src/libunwind-setjmp.la
sdk/cpprt/linux/libunwind/src/libunwind-x86_64.la
sdk/cpprt/linux/libunwind/src/libunwind.la
sdk/cpprt/linux/libunwind/src/mi/.deps/
sdk/cpprt/linux/libunwind/src/mi/.dirstamp
sdk/cpprt/linux/libunwind/src/mips/.deps/
sdk/cpprt/linux/libunwind/src/ppc/.deps/
sdk/cpprt/linux/libunwind/src/ppc32/.deps/
sdk/cpprt/linux/libunwind/src/ppc64/.deps/
sdk/cpprt/linux/libunwind/src/setjmp/.deps/
sdk/cpprt/linux/libunwind/src/setjmp/.dirstamp
sdk/cpprt/linux/libunwind/src/unwind/.deps/
sdk/cpprt/linux/libunwind/src/unwind/.dirstamp
sdk/cpprt/linux/libunwind/src/x86/.deps/
sdk/cpprt/linux/libunwind/src/x86_64/.deps/
sdk/cpprt/linux/libunwind/src/x86_64/.dirstamp
sdk/edger8r/linux/_build/
sdk/sign_tool/SignTool/sgx_sign
sdk/simulation/SEConfigureCPUSVN/linux/sgx_config_cpusvn

psw/ae/aesm_service/aesm_service
psw/ae/aesm_service/data/
psw/ae/aesm_service/source/protobuf/messages.pb.cc
psw/ae/aesm_service/source/protobuf/messages.pb.h
psw/ae/aesm_service/source/protobuf/messages.proto

linux/installer/common/psw/gen_source.py
linux/installer/common/psw/output/
linux/installer/common/sdk/gen_source.py
linux/installer/common/sdk/output/
linux/installer/common/sdk/pkgconfig/x64/
tags
